<div class="detail-page-container">
    <div class="img-container">
        <img src="<%= book.image %>" alt="">
    </div>
    <div class="detail-wrapper">
        <h4><%= book.author %></h4>
        <h2><%= book.name %></h2>
        <p><%= book.description %></p>
    </div>
</div>