   <div class="books-container">
    <% users.forEach(user => { %>
      <div class="cards-container">
       <div class="wrapper">
          <img src="<%= user.image %>" alt="<%= user.name %>"/>
          <div class="details">
            <h2><%= user.name %></h2>
            <p><%= user.author %></p>
         </div>
        </div>
      </div>
     <% }) %>
   </div>
