   <div class="books-container">
    <% users.forEach(user => { %>
      <div class="cards-container">
       <div class="wrapper">
        <div class="image">
          <img src="<%= user.image %>" alt="<%= user.name %>"/>
        </div>
        <div class="details">
          <h2><%= user.name %></h2>
          <p><%= user.author %></p>
          <button>Detail</button>
       </div>
      </div>
     <% }) %>
   </div>
