<div class="detail-page-container">
    <% if (newBooks) { %>
        <div class="img-container">
            <img src="<%= newBooks.image %>" alt="">
        </div>
        <div class="detail-wrapper">
            <h4><%= newBooks.author %></h4>
            <h2><%= newBooks.name %></h2>
            <p><%= newBooks.description %></p>
        </div>
    <% } %>
    </div>

</div>