<h3>New Release</h3>
<div class="item-container">
  <div class="item-header"
   style=" background-image: url('https://i.pinimg.com/736x/63/71/38/63713814fbbc7ab7e8e644872da30f52.jpg');"
  >
    <img
      src="https://i.pinimg.com/236x/ca/c7/62/cac7624c475147f40bb7b6c1d02ff209.jpg"
      alt="retorika"
    />
    <div class="item-detail">
      <h2>Retorika</h2>
      <p>Aristotle</p>
    </div>
  </div>
  <div class="item-header" 
    style="background-image: url('https://image.gramedia.net/rs:fit:256:0/plain/https://cdn.gramedia.com/uploads/products/rgrbi70hiu.jpeg');"
  >
    <img
      src="https://image.gramedia.net/rs:fit:256:0/plain/https://cdn.gramedia.com/uploads/products/rgrbi70hiu.jpeg"
      alt="Hari-Hari Haru Huru-Hara tapi Hore Ibu Tunggal"
    />
    <div class="item-detail">
      <h2>Hari-Hari Haru Huru-Hara tapi Hore Ibu Tunggal</h2>
      <p>Lita Iqtianty</p>
    </div>
  </div>
</div>
