<h3>New Release</h3>
<div class="item-container">
  <div class="item-header">
    <img
      src="https://i.pinimg.com/236x/ca/c7/62/cac7624c475147f40bb7b6c1d02ff209.jpg"
      alt="retorika"
    />
    <div class="item-detail">
      <h2>Retorika</h2>
      <p>Aristotle</p>
    </div>
  </div>
</div>
